@import './normalize';
@import './app/variables';
@import './app/utility';
@import './app/header';

body{
    font-family: "-apple-system",BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;
    background-color: $background-main-color;
    color: $text-main-color;
    font-size: 14px;
    display: block;
    line-height: 1.5;
}
