.header {
    box-shadow: 0 2px 28px 0px rgb(77 103 116 / 10%);
    position: fixed;
    width: 100%;
    background: #fff;
    top: 0;
    &__button {

    }

    &__logo {

    }

    &__nav {

    }

    &__search-form {

    }

    &__theme-icon {
        margin-left: auto;
    }
}
