.button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    &__icon {
        width: 18px;
        height: 100%;
    }

    &__name {}
}

.button_login {
    font-size: 13px;
    background-color: $primary-color;
    color: $text-secondary-color;
    border: none;
    outline: none;
    border-radius: 3px;
    margin: 5px 0;
    transition: background-color ease-out 0.2s;
    &:focus,&:hover{
        background-color: $primary-color-accent;
    }
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    &_row {
        display: flex;
    }
}

.icon {
    width: 15px;
    height: 15px;
}

.icon_dark-theme {
    width: 24px;
    height: 100%;
    fill: #6a7d90;
}

.icon_button-login {
    width: 18px;
    height: 100%;
    fill: #fff;
    margin-right: 4px;
}
.icon_search-form{
    width: 16px;
    fill: #6a7d90;
}

.icon_logo {
    fill: $primary-color;
    width: 33px;
    height: 100%;
}

.input {}

.nav {
    &__item {}
}

.search-form {
    &__button {}

    &__input {}
}
