$background-main-color: #eef0f1;
$background-color: #fff;
$text-main-color: #000;
$text-secondary-color: #fff;
$text-alt-color: #848484;
$text-accent-color: #f75c03;
$primary-color: #2777a7;
$primary-color-accent: #23527c;
